- provide :title, @user.username
.row
  .col-md-4.mb-3
    .card
      .card-body
        %h5.card-title
          = gravatar_for @user, size: 40
          = @user.username
  .col-md-8
    = render 'shared/posts'
