- if object.errors.any?
  - object.errors.full_messages.each do |msg|
    .alert.alert-danger.alert-dismissible
      = msg
      %button.close{ type: 'button', data: { dismiss: 'alert' }, aria: { label: 'Close' }}
        %span{ aria: { hidden: 'true' }}
          &times;
