%header
  %nav.navbar.fixed-top.navbar-dark.bg-dark.navbar-expand-lg
    = link_to full_title, root_path, class: 'navbar-brand'
    %button.navbar-toggler{ type: 'button',
                            data: { toggle:'collapse', target: '#navbar' },
                            aria: { controls: 'navbar', expanded: 'false', label: 'Toggle navigation' }}
      %span.navbar-toggler-icon
    #navbar.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        -# 左側
      %ul.navbar-nav
        -# 右側
